/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* body {

}

article {

}

h1 {

}

h2 {

} */

img {
	max-width: 100%;
}

/* main {

}

section {

} */

figure {
	margin: 0;
}

figcaption {
  font-size: .8em;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 20px
  }
  
  h1 {
    font-size: 24px; 
  }

  h2 {
    font-size: 22px;
  }

  figure {
    margin-bottom: 24px;
  }
}