* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  max-width: 768px;
  margin: auto;
}

input {
  width: 100%;
}

section {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 28px 0;
}

footer {
  display: flex;
  justify-content: center;
}

footer div {
  display: flex;
}

.newspaper {
  background-color: antiquewhite;
  font-family: Times New Roman, Times, serif;
  font-weight: 700;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url('images/pink-pattern.png');
  color: magenta;
  font-family: Verdana, sans-serif;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);

  /* obrigado josué por essa */
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skew(10deg);
}

.skewright {
  transform: skew(-10deg);
}
